<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的订单</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/orderManger.css}" />

  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img class="logo_img" alt="" th:src="@{static/img/logo.gif}" />
          </a>
          <h1>我的订单</h1>
        </div>
        <div class="header-right">
          <h3>欢迎<span th:text="${session.username}">会员</span>光临Deer书城</h3>
          <div class="order"><a href="#">我的订单</a></div>
          <div class="destory"><a th:href="@{index}">注销</a></div>
          <div class="gohome">
            <a th:href="@{Cart(method='cart')}">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>订单号</th>
              <th>订单日期</th>
              <th>订单金额</th>
              <th>订单数量</th>
              <th>订单状态</th>
              <th>订单详情</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${session.orderList}">
              <td th:text="${item.orderNumber}">12354456895</td>
              <td  th:text="${item.createTime}">
                2015.04.23
              </td>
              <td th:text="${item.orderAmount}">90.00</td>
              <td th:text="${item.orderCount}">88</td>
              <td>
                <a href="" class="send" th:if="${item.orderStatus == 0}">未发货</a>
                <a href="" class="send" th:if="${item.orderStatus == 1}">等待发货</a>
                <a href="" class="send" th:if="${item.orderStatus == 2 }">已发货</a>
              </td>
              <td><a th:href="@{Order(method='order_details',orderId = ${item.orderId})}">查看详情</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
  </body>
</html>
