<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a th:href="@{index}">
                <img class="logo_img" alt="" th:src="@{static/img/logo.gif}" />
            </a>
            <h1> <e th:text="${session.userId1.getUserName()}"></e>  订单详情</h1>
        </div>
        <div class="header-right">
            <h3>欢迎<span th:text="${session.username}">会员</span>光临Deer书城</h3>
            <div class="order"><a th:href="@{Order(method='order')}">我的订单</a></div>
            <div class="destory"><a th:href="@{index}">注销</a></div>
            <div class="gohome">
                <a th:href="@{Order(method='order_manager')}">返回</a>
            </div>
        </div>
    </div>
</div>
<div class="list">
    <div class="w">
        <table>
            <thead>
            <tr>
                <th>商品图片</th>
                <th>商品名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>金额</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${session.orderDetailsList}">
                <td>
                    <img th:src="${item.bookImg}" alt="" />
                </td>
                <td th:text="${item.bookName}">活着</td>
                <td th:text="${item.bookCount}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${item.amount * item.bookCount}"></td>
            </tr>

            </tbody>
        </table>
        <div class="footer">
            <div class="footer-left">
                <form th:action="@{Order(method = 'order_Admin_details')}" method="post">
                    <select  name="address">
                        <option value="0" >未发货</option>
                        <option value="1" >代发货</option>
                        <option value="2">已发货</option>
                    </select>
                    <input type="hidden" th:value="${orderId}" name="orderId">
                    <input type="hidden" th:value="${session.userId1.getUserId()}" name="userId">
                    <input type="submit" value="提交">
                </form>

            </div>
            <div class="footer-right">
                <div>共<span th:text="${session.count}" id="count"></span>件商品</div>
                <div class="total-price">总金额<span th:text="${session.priceSum}"></span>元</div>
<!--                <a class="pay" th:href="@{Order(method='delorder',orderId = ${session.orderId})}">退款</a>-->
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="w">
        <div class="top">
            <ul>
                <li>
                    <a href="">
                        <img th:src="@{static/img/bottom1.png}" alt="" />
                        <span>售后服务</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{static/img/bottom.png}" alt="" />
                        <span>物流服务</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{static/img/bottom2.png}" alt="" />
                        <span>联系电话</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">

        </div>
    </div>
    <div class="down">
        Deer书城.Copyright ©2022
    </div>
</div>
</body>
</html>
