<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>订单管理系统</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/orderManger.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img class="logo_img" alt="" th:src="@{static/img/logo.gif}" />
          </a>
          <h1>订单管理系统</h1>
        </div>
        <div class="header-right">
          <a th:href="@{Admin(method='book_manager')}" class="order">图书管理</a>
          <a href="#" class="destory">订单管理</a>
          <a th:href="@{index}" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>用户</th>
              <th>订单号</th>
              <th>订单日期</th>
              <th>订单金额</th>
              <th>订单数量</th>
              <th>订单详情</th>
              <th>发货状态</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item,status : ${orderList}">
              <td th:text="${session.userList2[status.index].userName}"></td>
              <td th:text="${item.orderNumber}">12354456895</td>
              <td th:text="${item.createTime}"></td>
              <td th:text="${item.orderAmount}"></td>
              <td th:text="${item.orderCount}"></td>
              <td><a th:href="@{Order(method='order_Admin_details',orderId = ${item.orderId} , userId = ${item.userId})}">查看详情</a></td>
              <td>
                <a href="" class="send" th:if="${item.orderStatus == 0}">未发货</a>
                <a href="" class="send" th:if="${item.orderStatus == 1}">等待发货</a>
                <a href="" class="send" th:if="${item.orderStatus == 2 }">已发货</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
         
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
  </body>
</html>
